@import url("vendor/foundation/normalize.css");
@import url("vendor/foundation/foundation.min.css");
@import url(//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);
@import url("vendor/owl-carousel/owl.carousel.css");
@import url("vendor/owl-carousel/owl.theme.css");
@import url("vendor/owl-carousel/owl.transitions.css");
@import url("vendor/font-awesome.min.css");
@import url("vendor/pageslide-nav.css");

/*https://github.com/dbushell/Responsive-Off-Canvas-Menu*/

/* ================================================================================================
- Framework
=================================================================================================*/
/* -----------------------------------------------
- Settings & Helpers
------------------------------------------------*/
body {
    background: white;
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
    text-transform: uppercase;
    font-weight: bold;
}

input[type=text],
input[type=email],
input[type=password],
textarea {
    width: 100%;
}

select {
    width: 100%;
    height: 2.5em; /*36/16*/
    padding: 5px;
    /*padding:5px 20px 5px 5px;*/
    line-height: 1.5;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    word-wrap: normal !important;
}

a,
a:link,
a:visited {
    color: #222;
}

a:hover,
a:focus,
a:active {
    color: #666;
}

figure {
    margin: 0;
}

.btn {
    display: inline-block;
    margin: 0;
    /*padding:0 1em;*/
    text-align: center;
    line-height: 2;
    color: #000;
    font-weight: 300;
    font-size: 1em;
    border: none;
    min-width: 2em;
    height: 2em;
    font-size: 1em;
}

/* -----------------------------------------------
- Clearfix
------------------------------------------------*/
.clearfix:before,
.global-header:before {
    display: block;
    visibility: hidden;
    overflow: hidden;
    width: 0;
    height: 0;
    content: '\0020';
}

.clearfix:after,
.global-header:after {
    clear: both;
}

.clearfix,
.global-header {
    zoom: 1;
}

.clear {
    clear: both;
}

/* -----------------------------------------------
- Colors
------------------------------------------------*/
/* - Color Green - */
.fa-check,
.product-wrapper .product-stock-status .in-stock {
    color: #48b07a;
}

/* - Color Red - */
.fa-times,
.product-wrapper .product-stock-status .out-of-stock,
.product-wrapper .product-prices .discounted-price {
    color: #c60f13;
}

/* -----------------------------------------------
- Background Colors
------------------------------------------------*/
/* - Background Color White - */
select,
.category-list a,
.product-wrapper {
    background-color: #fff;
}

/* - Background Color Grey - */
.global-header,
.primary-navigation,
.product-wrapper .product-instalment-pay .product-instalment-pay-button,
.product-wrapper .product-templates,
.category-wrapper .product-prices {
    /*background:#fff url('../img/agsquare.png') repeat 0 0;*/
    background-color: #f3f3f3;
}

@media only screen and (max-width: 40.0625em) {
    .product-wrapper .product-prices {
        background-color: #f3f3f3;
    }
}

/* - Background Color Dark Grey - */
.product-wrapper .product-instalment-pay button:hover {
    background-color: #d5d5d5;
}

/* - Background Color Orange - */
.global-header-cart-link .nr-items-in-cart {
    background-color: #ec6c3f;
}

/* -----------------------------------------------
- Borders
------------------------------------------------*/
.category-list li,
.product-wrapper .product-instalment-pay .product-instalment-pay-button,
.product-wrapper .product-templates,
section [role="banner"] > figure,
section [role="banner"] > a > figure,
section [role="banner"] .owl-wrapper-outer,
.product-wrapper,
.start-banner .owl-wrapper-outer,
.page-content figure img,
select {
    border: 1px solid #d5d5d5;
}

@media only screen and (min-width: 64.0625em) {
    .primary-navigation {
        border: 1px solid #d5d5d5;
    }
}

/* - Border top - */
.primary-navigation .cornerstone,
.primary-navigation li,
.product-wrapper .product-description,
.btn-group {
    border-top: 1px solid #d5d5d5;
}

/* - Border bottom - */
.global-header,
.nav-group,
#nav-search,
.product-names {
    border-bottom: 1px solid #d5d5d5;
}

/* - Border right - */
.category-wrapper .product-wrapper .product-article-number {
    border-right: 1px solid #d5d5d5;
}

/* default display of mvc validators */
.field-validation-valid {
    display: none;
}

.validation-summary-valid {
    display: none;
}

/**,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }*/

/* -----------------------------------------------
- Visually Hidden
http://www.sitepoint.com/when-and-how-to-visually-hide-content/
------------------------------------------------*/
.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

/* -----------------------------------------------
- Animations
------------------------------------------------*/
button,
.button,
.btn,
.global-header-toolbar-list a,
.product-wrapper > a {
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

/* -----------------------------------------------
- Box Shadow 
------------------------------------------------*/
.global-header,
.primary-navigation,
.category-list li,
.start-banner .owl-wrapper-outer,
.product-wrapper {
    -webkit-box-shadow: 0 0 0.75em rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 0 0.75em rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 0.75em rgba(0, 0, 0, 0.05);
}

/* -----------------------------------------------
- Common wrappers 
------------------------------------------------*/
#outer-wrap {
    border-top: 3px solid #48b07a;
}

#inner-wrap {

}

.main {
    position: relative;
    float: left;
    width: 100%;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    padding-bottom: 5em;
}

@media only screen and (min-width: 64.063em) {
    .main {
        width: 75%;
    }
}

.container {
    width: 100%;
    max-width: 64em;
    margin: 0 auto;
}

/* ================================================================================================
- Global Header
=================================================================================================*/
.global-header {
    height: 3.5em;
    margin-bottom: 1em;
}

.global-header-toolbar-list {
    margin: 0;
    padding: 0;
}

.global-header-toolbar-list li {
    display: inline-block;
    float: left;
    height: 3.5em;
}

.global-header-toolbar-list li a {
    position: relative;
}

.global-header-navigation {
    width: 20%;
    text-align: left;
}

.global-header-logo {
    width: 60%;
    text-align: center;
}

.global-header-cart {
    float: right;
    width: 20%;
    text-align: right;
}

@media only screen and (min-width: 40em) {
    .global-header,
    .global-header-toolbar-list li {
        height: 5em;
    }
}

@media only screen and (min-width: 64.0625em) {
    .global-header-navigation {
        display: none !important;
    }

    .global-header-logo {
        width: 80%;
        text-align: left;
    }
}

/* -----------------------------------------------
- Global Logo
------------------------------------------------*/
.global-header-logo-link {
    display: block;
    position: relative;
    min-width: 5em;
    max-width: 10em;
    height: 3.5em;
    margin-left: auto;
    margin-right: auto;
}

.global-header-logo-img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-height: 90%;
    margin: auto;
}

@media only screen and (min-width: 40em) {
    .global-header-logo-link {
        height: 5em;
    }
}

@media only screen and (min-width: 64.0625em) {
    .global-header-logo-link {
        /*display:inline-block;*/
        margin-left: 1em;
    }
}

/* -----------------------------------------------
- Global Navigation/Cart Links, common settings
------------------------------------------------*/
.global-header-navigation-link,
.global-header-cart-link {
    display: inline-block;
    max-width: 5em;
    width: 100%;
    height: 3.5em;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    line-height: 4;
    text-align: center;
}

/* -----------------------------------------------
- Global Navigation Link
------------------------------------------------*/
.global-header-navigation-link {

}

.global-header-navigation-link > i {
    font-size: 2em;
}

/* -----------------------------------------------
- Global Cart Link
------------------------------------------------*/
.global-header-cart-link {

}

.global-header-cart-link.cart-disabled,
.global-header-cart-link.cart-disabled:hover {
    color: rgba(0, 0, 0, 0.3);
    cursor: default;
}

.global-header-cart-link > i {
    font-size: 2em;
}

.global-header-cart-link .nr-items-in-cart {
    position: absolute;
    left: 50%;
    top: 0.5em;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5;
    font-size: 0.75em;
    color: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

@media only screen and (min-width: 40em) {
    .global-header-navigation-link,
    .global-header-cart-link {
        height: 5em;
        line-height: 5.5;
    }

    .global-header-cart-link .nr-items-in-cart {
        top: 1.5em;
    }
}

/* ================================================================================================
- Primary Navigation
=================================================================================================*/
.primary-navigation {
    padding: 2em 0;
}

.nav-group {
    margin-bottom: 1rem;
}

.nav-group .select-wrap {
    padding: 0 1em;
}

.primary-navigation .cornerstone {

}

.primary-navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.primary-navigation li,
.primary-navigation a,
.primary-navigation label {
    font-size: 0.8125rem;
}

.primary-navigation li {
    padding: 0.7em 1em;
    font-weight: bold;
}

.primary-navigation ul li:first-child {
    border-top: none;
}

.primary-navigation li a {
    display: block;
}

.primary-navigation a {
    font-weight: normal;
}

@media only screen and (min-width: 64.0625em) {
    .primary-navigation {
        float: left;
        width: 25%;
        border-top: none;
        padding: 0;
    }

    .close-btn {
        display: none;
    }
}

/* -----------------------------------------------
- "External" Nav Wrap
------------------------------------------------*/
.external-nav-wrap {
    position: relative;
    margin-top: 5em;
    padding: 0.5em 1em 2.5em;
}

.external-nav-wrap > a {
    position: absolute;
    bottom: 1em;
    font-size: 0.75em;
    color: #999;
}

.external-nav-wrap #goToClassical {
    left: 1em;
}

.external-nav-wrap #poweredBy {
    right: 1em;
}

/* -----------------------------------------------
- Navigation Search
------------------------------------------------*/
#nav-search {
    padding: 0.7em 1em;
    line-height: 1.6;
    font-size: 0.8125rem;
    font-weight: bold;
}

#nav-search > a {
    display: block;
}

#nav-search-link > i {
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear;
}

.nav-search-link-open > i {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.nav-search-area {
    overflow: hidden;
    transition: height 0.2s linear;
    -webkit-transition: height 0.2s linear;
    position: relative;
}

.nav-search-area .nav-search-field {
    width: 100%;
    padding-right: 3em;
    margin-bottom: 0;
}

.nav-search-area .btn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.4em;
}

/* ================================================================================================
- Big Search
=================================================================================================*/
.big-search {
    position: relative;
}

.big-search .btn {
    position: absolute;
    top: 0;
    right: 0;
    height: 1.6em;
    line-height: 1.6;
    font-size: 1.4em;
}

/* ================================================================================================
- Category List
=================================================================================================*/
.category-list {
    margin-bottom: 2rem;
}

.category-list ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.category-list li {
    display: inline-block;
    margin: 0.3em 0.6rem 0.3rem 0;
    font-size: 0.875em;
}

.category-list a {
    display: block;
    padding: 1em;
}

/* ================================================================================================
- Banners/Sliders
=================================================================================================*/
section [role="banner"] {

}

section [role="banner"] img {
    display: block;
    width: 100%;
    height: auto;
}

.start-banner {
    margin-bottom: 0.5rem;
}

.start-banner figure {

}

.start-banner img {

}

.start-banner figcaption {

}

.start-slider {

}

.start-slider .slider-item {
    position: relative;
}

.caption {
    position: absolute;
    left: 12.5%;
    width: 75%;
    padding: 1em;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    font-style: italic;
}

.caption-top {
    top: 1em;
}

.caption-bottom {
    bottom: 1em;
}

.caption-color-1 {
    color: #333;
}

.caption-color-2 {
    color: #fff;
}

@media only screen and (min-width: 40em) {
    .caption {
        font-size: 2em;
    }
}

@media only screen and (min-width: 64.0625em) {
    .start-banner {

    }
}

/* ================================================================================================
- User Content
=================================================================================================*/
.page-content {

}

.page-content figure {
    margin-bottom: 1rem;
}

.page-content a {
    text-decoration: underline;
}

.page-content a:hover {
    text-decoration: none;
}

.page-content p {

}

.page-content ul,
.page-content ol {
    margin-left: 2.5rem;
}

.page-content li {

}

/* ================================================================================================
- Product
=================================================================================================*/
/* -----------------------------------------------
- Product Wrapper
------------------------------------------------*/
.product-wrapper {
    position: relative;
    padding: 0.5rem;
}

@media only screen and (min-width: 40em) {
    .product-wrapper {
        padding: 1rem;
    }
}

.product-wrapper > a:hover {
    opacity: 0.9;
}

.product-wrapper .product-article-number,
.product-wrapper .product-description,
.product-wrapper .product-stock-status,
.product-wrapper .product-comments,
.product-wrapper .product-specifications,
.product-wrapper .product-attributes,
.product-wrapper .product-prices,
.product-wrapper .product-buttons,
.product-wrapper .product-instalment-pay,
.product-wrapper .product-templates {
    margin: 1rem 0;
}

/* -----------------------------------------------
- Product Banner 
------------------------------------------------*/
.product-wrapper .product-banner {
    position: relative;
}

.product-wrapper .product-banner img {

}

/* -----------------------------------------------
- Product Name
------------------------------------------------*/
.product-wrapper .product-names {

}

.product-wrapper .product-name,
.product-wrapper .product-sub-name {

}

.product-wrapper .product-name {
    margin: 0.7rem 0 0;
    line-height: 1.2;
    font-size: 1rem;
    font-weight: bold;
    word-wrap: break-word;
}

.product-wrapper .product-sub-name {
    margin-top: 0;
    font-size: 0.875rem;
    font-weight: normal;
    text-transform: none;
    word-wrap: break-word;
}

/* -----------------------------------------------
- Product Article Number
------------------------------------------------*/
.product-wrapper .product-article-number {
    float: left;
    width: 50%;
    padding-right: 2px;
    text-align: left;
    font-size: 0.6em;
}

.product-wrapper .product-article-number .article-number {
    color: #999;
}

.product-wrapper .product-article-number .number {
    word-wrap: break-word;

}

.article-number-container {
    text-align: right;
}

@media only screen and (min-width: 40em) {
    .product-wrapper .product-article-number {
        font-size: 0.75em;
    }
}

/* -----------------------------------------------
- Product Stock Status
------------------------------------------------*/
.product-wrapper .product-stock-status {
    float: right;
    width: 50%;
    padding-left: 2px;
    text-align: right
}

.product-wrapper .product-stock-status > span {
    font-size: 1rem;
}

.product-wrapper .product-stock-status .in-stock {

}

.product-wrapper .product-stock-status .out-of-stock {

}

.product-wrapper .product-stock-status .fa {

}

/* -----------------------------------------------
- Product Comments
------------------------------------------------*/
.product-wrapper .product-comments {
    clear: both;
}

.product-wrapper .product-comments .comment {
    line-height: 2.5;
}

.product-wrapper .product-comments input {

}

/* -----------------------------------------------
- Product Specifications/Attributes
------------------------------------------------*/
.product-wrapper .product-specifications,
.product-wrapper .product-attributes {
    clear: both;
    overflow: hidden;

}

.product-wrapper .product-specifications .specification,
.product-wrapper .product-attributes .attribute {
    clear: both;
    float: left;
    width: 25%;
    line-height: 2.5;
}

.product-wrapper .product-specifications .select-wrap,
.product-wrapper .product-attributes .select-wrap {
    float: right;
    width: 75%;
}

/* -----------------------------------------------
- Product Prices
------------------------------------------------*/
.product-wrapper .product-prices {
    clear: both;
    float: left;
    width: 40%;
}

.product-wrapper .product-prices > span {
    display: block;
    line-height: 1.5;
    font-size: 1.5em;
}

.product-wrapper .product-prices .price {
    line-height: 2.1;

}

.product-wrapper .product-prices .discounted-price {

}

.product-wrapper .product-prices .previous-price {
    text-decoration: line-through;
    font-size: 0.8em;
}

.product-wrapper .product-prices .currency {
    margin-left: 0.3em;
}

@media only screen and (max-width: 40.0625em) {
    .product-wrapper .product-prices {
        float: none;
        width: auto;
        padding: 0.5rem;
        text-align: center;
    }
}

/* -----------------------------------------------
- Product Buttons 
------------------------------------------------*/
.product-wrapper .product-buttons {

}

.product-wrapper .product-buttons button,
.product-wrapper .product-buttons .button {
    color: #fff;
}

@media only screen and (max-width: 40.0625em) {
    .product-wrapper .product-buttons {
        margin: 0;
    }

    .product-wrapper .product-buttons button,
    .product-wrapper .product-buttons .button {
        width: 100%;
        /*padding:0.5rem;
        font-size:0.875rem;*/
        margin-bottom: 0;
    }
}

@media only screen and (min-width: 40em) {
    .product-wrapper .product-buttons {
        float: right;
        width: 60%;
        text-align: right;
    }

}

/* -----------------------------------------------
- Product Link
------------------------------------------------*/
.product-wrapper .product-link-button {

}

/* -----------------------------------------------
- Product Buy
------------------------------------------------*/
.product-wrapper .product-buy-button {

}

/* -----------------------------------------------
- Product Instalment Pay
------------------------------------------------*/
.product-wrapper .product-instalment-pay {

}

.product-wrapper .product-instalment-pay-button {
    width: 100%;
    padding: 0.5rem;
    font-size: 0.75rem;
    color: #222;
}

.product-wrapper button:hover {

}

/* -----------------------------------------------
- Product Description
------------------------------------------------*/
.product-wrapper .product-description {
    clear: both;
    padding: 1em 0 0.5em;
}

/* -----------------------------------------------
- Product Templates
------------------------------------------------*/
.product-wrapper .product-templates {
    overflow: hidden;
    padding: 0.7em 1em;
}

.product-wrapper .product-template-heading {

}

.product-wrapper .product-template {
    overflow: hidden;
}

.product-wrapper .product-templates dl {

}

.product-wrapper .product-templates .define,
.product-wrapper .product-templates .explain {
    font-size: 0.875rem
}

.product-wrapper .product-templates .define {
    clear: both;
    float: left;
    width: 50%;
    padding-right: 1em;
}

.product-wrapper .product-templates .explain {
    float: right;
    width: 50%;
}

/* ================================================================================================
- Category
=================================================================================================*/
/* -----------------------------------------------
- Header
------------------------------------------------*/
.category-header {
    overflow: hidden;
}

.category-header .category-name {

}

/* -----------------------------------------------
- Sorting
------------------------------------------------*/
.sorting .select-wrap {
    width: 49%;
    float: left;
}

.sorting .select-wrap:first-child {
    margin-right: 2%;
}

/* -----------------------------------------------
- Category Wrapper
------------------------------------------------*/
.category-wrapper {

}

.category-wrapper .product-wrapper {
    float: left;
    width: 49%;
    margin: 0 0 2% 2%;
    padding: 0;
}

.category-wrapper article:first-child {
    margin-left: 0 !important;
}

.category-wrapper article:nth-of-type(2n+1) {
    clear: both;
    margin-left: 0;
}

.category-wrapper .product-wrapper > a {
    display: block;
    padding: 0.5rem;
}

.category-wrapper .product-article-number {
    min-height: 2rem;
    text-align: center;
    line-height: 1.5;
}

.category-wrapper .product-article-number > span {
    display: block;
}

.category-wrapper .product-article-number .article-number {
    font-size: 0.5rem;
    color: #999;
}

.category-wrapper .product-stock-status {
    height: 2rem;
    text-align: center;
}

.category-wrapper .product-stock-status .fa {
    display: block;
}

.category-wrapper .product-stock-status > span {
    font-size: 0.75rem;
}

.category-wrapper .product-buttons {
    float: none;
    width: auto;
    margin: 0;
}

.category-wrapper .product-buttons button,
.category-wrapper .product-buttons .button {
    width: 100%;
    margin: 0;
    padding: 0.5rem;
    font-size: 0.875rem;
}

.category-wrapper .product-prices {
    float: none;
    width: auto;
    padding: 0.5rem;
    text-align: center;
}

.category-wrapper .product-prices .price,
.category-wrapper .product-prices .discounted-price {
    /*display:inline;*/
}

.category-wrapper .product-prices .previous-price {
    /*display:inline;
    float:right;*/
}

@media only screen and (max-width: 40.0625em) {
    .category-wrapper .product-name {
        font-size: 0.875rem;
    }

    .category-wrapper .product-prices > span {
        line-height: 1.2;
        font-size: 1em;
    }
}

@media only screen and (min-width: 40em) {
    .category-wrapper .product-wrapper {
        float: left;
        width: 32%;
        margin: 0 0 2% 2%;
    }

    .category-wrapper article:nth-of-type(2n+1) {
        clear: none;
        margin-left: 2%;
    }

    .category-wrapper article:nth-of-type(3n+1) {
        clear: both;
        margin-left: 0;
    }

    .category-wrapper .product-wrapper > a {
        padding: 1rem;
    }
}

@media only screen and (min-width: 64.0625em) {
    .category-wrapper .product-wrapper {

    }

    .category-wrapper .product-prices {

    }
}

.load-more-btn {
    display: block;
    clear: both;
}

/* -----------------------------------------------
- Fixed Product Height Settings
------------------------------------------------*/
.category-wrapper .product-banner {
    height: 10rem;
    overflow: hidden;
}

.category-wrapper .product-banner img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    /*max-height:100%;*/
    margin: auto;
    z-index: 0;
}

.category-wrapper .product-names {
    min-height: 4rem;
}

.category-wrapper .product-prices {
    height: 3.1rem;
}

@media only screen and (min-width: 40em) {
    .category-wrapper .product-prices {
        height: 4.5rem;
    }
}

/* ================================================================================================
- Product Search
=================================================================================================*/
.productsearch-header {

}

.productsearch-header .productsearch-name {
    text-align: center;
}

.productsearch-header .search-nr-of-hits {
    /*font-weight:normal;*/
    color: #48b07a;
}

.productsearch-header .search-word {
    position: relative;
    margin-left: 0;
    font-weight: normal;
    font-style: italic;
    text-transform: none;
    quotes: "“" "”";
}

.productsearch-header .search-word:before,
.productsearch-header .search-word:after {
    font-size: 1em;
    font-family: Georgia;
    font-weight: bold;
    font-style: normal;
}

.productsearch-header .search-word:before {
    content: open-quote;
}

.productsearch-header .search-word:after {
    content: close-quote;
}

.productsearch-wrapper {

}

.productsearch-results {
    margin: 0;
    padding: 0;
    list-style: none;
}

.productsearch-wrapper .product-wrapper {
    overflow: hidden;
    margin-bottom: 1rem;
    padding: 0;
}

.productsearch-wrapper .product-article-number,
.productsearch-wrapper .product-stock-status,
.productsearch-wrapper .product-prices,
.productsearch-wrapper .product-buttons {
    margin: 0.5rem 0;
}

.productsearch-wrapper .product-wrapper > a {
    display: block;
    padding: 0.5rem;
}

.productsearch-wrapper .product-banner {
    float: left;
    width: 5rem;
    margin-bottom: 0.5rem;
}

.productsearch-wrapper .product-body {
    overflow: hidden;
    margin-left: 5.5rem;
}

.productsearch-wrapper .product-names {

}

.productsearch-wrapper .product-name {
    margin-top: 0;
}

.productsearch-wrapper .product-sub-name {

}

.productsearch-wrapper .product-article-number {
    line-height: 1.2;
}

.productsearch-wrapper .article-number {
    color: #999;
}

.productsearch-wrapper .number {

}

.productsearch-wrapper .product-stock-status {

}

.productsearch-wrapper .product-stock-status > span {

}

.productsearch-wrapper .product-stock-status .fa {

}

.productsearch-wrapper .product-prices {

}

.productsearch-wrapper .product-buttons {

}

.productsearch-wrapper .product-wrapper .product-buttons button,
.productsearch-wrapper .product-wrapper .product-buttons .button {
    margin-bottom: 0;
}

@media only screen and (max-width: 40.0625em) {
    .productsearch-wrapper .product-name {
        font-size: 0.875rem;
    }

    .productsearch-wrapper .article-number {
        font-size: 0.5rem;
    }

    .productsearch-wrapper .product-stock-status {
        line-height: 0.5;
    }

    .productsearch-wrapper .product-stock-status > span {
        font-size: 0.75rem;
    }

    .productsearch-wrapper .product-prices > span {
        font-size: 1rem;
        line-height: 1.2;
    }

    .productsearch-wrapper .product-wrapper .product-buttons button,
    .productsearch-wrapper .product-wrapper .product-buttons .button {
        max-width: 100%;
        padding: 0.5rem 1rem;
        font-size: 0.875rem;
    }
}

@media only screen and (min-width: 40em) {
    .productsearch-header .productsearch-name {
        text-align: left;
    }

    .productsearch-wrapper .product-banner {
        float: left;
        width: 10rem;
        margin-bottom: 1rem;
    }

    .productsearch-wrapper .product-wrapper > a {
        padding: 1rem;
    }

    .productsearch-wrapper .product-body {
        overflow: hidden;
        margin-left: 11rem;
    }
}

/* ================================================================================================
- Product Buy Modal
=================================================================================================*/
.reveal-modal {
    min-height: 0 !important;
    text-align: center;
}

.reveal-modal .close-reveal-modal {
    top: 0;
}

.reveal-modal h2 {

}

.reveal-modal h3 {
    text-transform: none;
    font-weight: normal;
    font-style: italic;
    color: #999;
}

.reveal-modal .btn-group {
    padding-top: 1rem;

}

.reveal-modal .btn-group .button {
    width: 100%;
    color: #fff;
}

@media only screen and (min-width: 40em) {
    .reveal-modal .btn-group .button {
        width: auto;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
}

/* ================================================================================================
- Templates
=================================================================================================*/
.start-page {

}

.standard-page {

}

.category-page {

}

.productsearch-page {

}

.product-page {

}

@media only screen and (min-width: 40em) {
    .product-page .product-wrapper .product-name {
        font-size: 1.5rem;
    }

    .product-page .product-wrapper .product-sub-name {
        font-size: 1.25rem;
    }
}

/*

    Fake category list on start page

*/

#category-list-placeholder {
    margin-top: 12px;
    margin-bottom: 12px;
}

#category-list-placeholder ul {
    width: auto;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    list-style: none;
    margin-left: 0;
    box-shadow: 0px 1px 4px rgba(100, 100, 100, 0.5);
}

#category-list-placeholder ul li {
    padding: 10px;
    background: #efefef;
    background: -moz-linear-gradient(top, #efefef 0%, #e4e5e9 50%, #efefef 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #efefef), color-stop(50%, #e4e5e9), color-stop(100%, #efefef));
    background: -webkit-linear-gradient(top, #efefef 0%, #e4e5e9 50%, #efefef 100%);
    background: -o-linear-gradient(top, #efefef 0%, #e4e5e9 50%, #efefef 100%);
    background: -ms-linear-gradient(top, #efefef 0%, #e4e5e9 50%, #efefef 100%);
    background: linear-gradient(to bottom, #efefef 0%, #e4e5e9 50%, #efefef 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#efefef', endColorstr='#efefef', GradientType=0);
    border-top: 1px solid white;
    border-bottom: 1px solid #c3c3c3;
}

#category-list-placeholder ul li:first-child {
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#category-list-placeholder ul li:last-child {
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#category-list-placeholder ul li a {
    text-transform: uppercase;
    font-size: 14px;
}



/* -----------------------------------------------
- Fixed Product Height Settings
------------------------------------------------*/
.category-wrapper .product-banner {
    padding: 100% 0 0;
    overflow:hidden;
}
.category-wrapper .product-banner img {
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    display:block;
    max-height:100%;
    margin:auto;
    z-index:0;
}
.category-wrapper .product-names {
    min-height:4rem;
    text-align: center;
}
.category-wrapper .product-prices {
    height: 3.1rem;
    margin: 0;
    background: transparent;
}
@media only screen and (min-width: 40em) {
    .category-wrapper .product-prices {
        height:4.5rem;
    }
}